<script setup lang="ts">
import LoginViewVue from './views/LoginView.vue';
import MainView from './views/MainView.vue';
import { onMounted } from "vue"
import {useLoginStore } from "@/stores/login"
import MessageBox from './components/MessageBox.vue';
const loginStore = useLoginStore()
onMounted(() =>{
  loginStore.loadData()
})
</script>

<template>
  <LoginViewVue v-if="!loginStore.islogin" @login="loginStore.login"/>
  <MainView v-if="loginStore.islogin" @logout="loginStore.logout" :loginName="loginStore.loginName"/>
  <MessageBox></MessageBox>
</template>

<style scoped>

</style>
